$IndianW: #F8E6D0;
$IndianB: #EAD0B4;
$BorderIndian: #8C6F4D;
$Cinder: #15151F;

$Serif:  "Domine","serif";
$Sans:  "Source Sans Pro", "sans-serif";

$spacex2: 2.8rem;
$spacex1: 1.1rem;

$spacey3: 6.5rem;
$spacey2: 2.8rem;
$spacey1: 1.1rem;