$IndianW: #F8E6D0;
$IndianB: #EAD0B4;
$BorderIndian: #8C6F4D;
$Cinder: #15151F;

$Serif:  "Domine","serif";
$Sans:  "Source Sans Pro", "sans-serif";

$spacex2: 2.8rem;
$spacex1: 1.1rem;

$spacey3: 6.5rem;
$spacey2: 2.8rem;
$spacey1: 1.1rem;

@import "normalize";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: $IndianW;
    max-width: 100%;
}

html{
    font-size: 1vw;
}


h1,h2{
    font-size: 1rem;
    font-family: $Serif;
}

p,a,span,button,label{
    font-family: $Sans;
    font-size: 1.2rem;
    //font-weight: 300;
}
a{
    text-decoration: none;
    color:$Cinder;
}
//General config


button{
    border: none;
    text-decoration: none;
}

button:focus {outline:0;}



header{
    background-color: $IndianB;
    height: 3rem;
    display: flex;
    align-items: center ;
    padding-left: $spacex2;
    img{
        height: 80%;
    }
    a{  
        margin-left: $spacex1;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

nav{
    height: 3rem;
    display: flex;
    width: 100%;
    padding: 0 $spacex2;
    //justify-content: space-between;
    align-items: center;
    a{
        position: relative;
    }
    a:nth-child(-n+2){
       // background-color: red;
        width: min-content;
        margin-right: $spacex1;
    }
    a:nth-child(3){
        margin-left: auto;
       // background-color: blue;
        justify-self: flex-end;
    }
    a:hover{
        font-weight: 600;
        
    }
    a::after{
        //position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        transition: width .3s;
    }
    a:hover::after{
        width: 100%;      
    }
    
    a::before
    {
        display: block;
        content: attr(title);
        font-weight: 600;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
//Specific tags

p.big{
    font-size: 2rem;
}
h1{
    font-size: 5rem;
}


h2{
    font-size: 1.5rem;
}