h1, h2 {
  font-size: 1rem;
  font-family: "Domine", "serif";
}

p {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 18px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
}

body {
  background-color: #F8E6D0;
  max-width: 100%;
}

header {
  background-color: #EAD0B4;
  height: 3rem;
}

nav {
  height: 3rem;
}

p.big {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.5rem;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.welcome .blockscience, .welcome .blockart {
  width: 50%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.welcome .blockscience {
  background-color: #EAD0B4;
}

.welcome .blockscience h1 {
  color: #15151F;
  font-size: 80px;
  font-family: "Domine", "serif";
}

.welcome .blockscience h2 {
  color: black;
  font-size: 25px;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: normal;
}

.welcome .blockart {
  background-color: #15151F;
}

.welcome .blockart h1 {
  color: #F8E6D0;
  font-size: 80px;
  font-family: "Domine", "serif";
}

.welcome .blockart h2 {
  color: white;
  font-size: 25px;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: normal;
}

.welcome .blockscience, .welcome .blockart > * {
  text-align: center;
}

.contenido {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contenido .boxbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contenido .boxbuttons button {
  padding: 15px 32px;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  border-radius: 100px;
  background-color: #EAD0B4;
  position: relative;
  margin: 0rem 1rem;
}

.contenido .boxbuttons button:hover, .contenido .boxbuttons button:active, .contenido .boxbuttons .activebutton {
  background-color: #15151F;
  color: white;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 10px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 10px 80px rgba(0, 0, 0, 0.12);
}

.contenido .boxbuttons button:focus {
  outline: 0;
}

.porfolio {
  margin-top: 1rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.porfolio .program {
  height: 300px;
  width: 33.33333%;
  max-width: 250px;
  padding: 10px;
}

.porfolio .program > div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #EAD0B4;
  padding: 15px;
  border: #8C6F4D solid;
}

.porfolio .program > div:hover {
  background-color: #15151F;
  border: none;
}

.porfolio .program > div:hover h2, .porfolio .program > div:hover p {
  color: white;
}

.porfolio .program .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
}

.porfolio .program .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
}

.porfolio .program .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 20%;
}
/*# sourceMappingURL=styles.css.map */