@import "globals";
//class
.welcome
{
    display: flex;
    width: 100%;
    //justify-content: space-around;

    .blockscience,.blockart
    {
        width: 50%;
        height: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        
        
    }

    @mixin Bannertitle($Color) {
        color: $Color;
        font-size: 80px;
        font-family: $Serif;
    }

    @mixin Bannersubtitle($Color) {
        color: $Color;
        font-size: 25px;
        font-family: $Sans;
        font-weight: normal;
    }
    

    .blockscience{
        background-color: $IndianB;
        h1{
          @include Bannertitle($Cinder)
        }
        h2{
            @include Bannersubtitle(black)
        }
    }
    .blockart{
        background-color: $Cinder;
        h1{
            @include Bannertitle($IndianW)
        }
        h2{
            @include Bannersubtitle(white)
        }
    }

    .blockscience,.blockart > *
    {
        text-align: center;
    }

}

.contenido
{
   // margin-top: $spacey2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .big{
        margin-top: $spacey2;
        margin-bottom: $spacey1;
    }

    .boxbuttons
    {
        display: flex;
        width: 60%;
        justify-content: center;
        margin: $spacey1 0;

        button{
            
            padding: 15px 32px;
            font-size: 1rem;
            
            border-radius: 100px;
            background-color: $IndianB;
            position: relative;
            margin: 0rem 1rem;
            
           // font-size: 0;
        }
        

        button:hover, button:active, .activebutton
        {
           background-color: $Cinder;
           color: white;
           box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 10px 80px rgba(0, 0, 0, 0.12) ;
        }
        
        
        
        
    }
}

.porfolio
{
    margin-top: 1rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    .program
    {
        height: 350px;
        width: 1/3*100%;
        max-width: 300px;
        
       // border-style: solid;
        //HERE IS THE LIMIT
        padding: 10px;
        >div
        {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background-color:$IndianB;
            padding: 15px;
            border: $BorderIndian solid;
            transition: all .2s ease-in-out;
        }
        >div:hover{
            background-color: $Cinder;
            border: none;
            transform: scale(1.04);
            h2,p{
                color: white;
            }
            img{
                filter: grayscale(100%);
                transition: .5s ease-in-out;
            }
        }

        .imagebox
        {
            display:flex;
            height: 35%;
            img{
                height: 100%;
                margin-left: auto;
            }
            
        }
        .title
        {
            display:flex;
            height: 33%;
            align-items: flex-end;
           // background-color: orange;
        }
        .description
        {
            display:flex;
            padding-top: 10px;
           // flex-direction: column-reverse;
            height: 25%;
             //background-color: red;
        }

        
    }

    
}



