@import "../globals";

body,html{
    height: 100%;
}

.all
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.application
{
    display: flex;
    flex: 1 0 0;
    width: 100%;
    flex-direction: row;
    // Menu 2 importante
    .display
    {
        width: 100%;
        max-height: 100%;
        background-color: $IndianB;
        display: flex;
        align-items: center;
        .ThreeContainer
        {
            margin: 2rem auto;
            width: 80%;
            height: 80%;
            
   
            background-color: $Cinder;

        }

        
    }
}