/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8E6D0;
  max-width: 100%;
}

html {
  font-size: 1vw;
}

h1, h2 {
  font-size: 1rem;
  font-family: "Domine", "serif";
}

p, a, span, button, label {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #15151F;
}

button {
  border: none;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

header {
  background-color: #EAD0B4;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.8rem;
}

header img {
  height: 80%;
}

header a {
  margin-left: 1.1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 2.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  position: relative;
}

nav a:nth-child(-n+2) {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-right: 1.1rem;
}

nav a:nth-child(3) {
  margin-left: auto;
  justify-self: flex-end;
}

nav a:hover {
  font-weight: 600;
}

nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .3s;
  transition: width .3s;
}

nav a:hover::after {
  width: 100%;
}

nav a::before {
  display: block;
  content: attr(title);
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

p.big {
  font-size: 2rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.5rem;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 80%;
}

.Xflexbetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Xflexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Xflexevenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.welcome .blockscience, .welcome .blockart {
  width: 50%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.welcome .blockscience {
  background-color: #EAD0B4;
}

.welcome .blockscience h1 {
  color: #15151F;
  font-size: 8rem;
  font-family: "Domine", "serif";
}

.welcome .blockscience h2 {
  color: black;
  font-size: 1.5rem;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: normal;
}

.welcome .blockart {
  background-color: #15151F;
}

.welcome .blockart h1 {
  color: #F8E6D0;
  font-size: 8rem;
  font-family: "Domine", "serif";
}

.welcome .blockart h2 {
  color: white;
  font-size: 1.5rem;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: normal;
}

.welcome .blockscience, .welcome .blockart > * {
  text-align: center;
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contenido .big {
  margin-top: 2.8rem;
  margin-bottom: 1.1rem;
}

.contenido .boxbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.1rem 0;
}

.contenido .boxbuttons button {
  padding: 0.8rem 1.8rem;
  font-size: 1rem;
  border-radius: 4.5rem;
  background-color: #EAD0B4;
  position: relative;
  margin: 0rem 1rem;
}

.contenido .boxbuttons button:hover, .contenido .boxbuttons button:active, .contenido .boxbuttons .activebutton {
  background-color: #15151F;
  color: white;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 10px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 10px 80px rgba(0, 0, 0, 0.12);
}

.porfolio {
  margin-top: 1rem;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.porfolio .program {
  height: 22rem;
  width: 33.33333%;
  max-width: 18rem;
  padding: 0.6rem;
}

.porfolio .program > a {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #EAD0B4;
  padding: 1rem;
  border: 2px #8C6F4D solid;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.porfolio .program > a h2 {
  font-weight: bold;
}

.porfolio .program > a:hover {
  background-color: #15151F;
  border: 2px #15151F solid;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.porfolio .program > a:hover h2, .porfolio .program > a:hover p {
  color: white;
}

.porfolio .program > a:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.porfolio .program .imagebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35%;
}

.porfolio .program .imagebox img {
  height: 100%;
  margin-left: auto;
}

.porfolio .program .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.porfolio .program .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5rem;
  height: 25%;
}

.gallery {
  margin-top: 1rem;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .program {
  height: 15rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.6rem;
}

.gallery .program > a {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  /*video::-webkit-media-controls {
                display:none !important;
            }*/
}

.gallery .program > a > video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  padding: 5px;
}

.gallery .program > a > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  padding: 5px;
  border: 2px #8C6F4D solid;
  -webkit-filter: contrast(0.9) grayscale(0.8);
          filter: contrast(0.9) grayscale(0.8);
  -webkit-transition: -webkit-filter 0.8s ease-out;
  transition: -webkit-filter 0.8s ease-out;
  transition: filter 0.8s ease-out;
  transition: filter 0.8s ease-out, -webkit-filter 0.8s ease-out;
}

.gallery .program > a > img:hover {
  -webkit-filter: contrast(1) grayscale(0);
          filter: contrast(1) grayscale(0);
}
/*# sourceMappingURL=styles.css.map */