@import "variables";
@import "normalize";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: $IndianW;
    max-width: 100%;
}

html{
    font-size: 1vw;
}


h1,h2{
    font-family: $Serif;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 1.5rem;
}

p,a,span,button,label{
    font-family: $Sans;
    font-size: 1.2rem;
    //font-weight: 300;
}
a{
    text-decoration: none;
    color:$Cinder;
}
//General config


button{
    border: none;
    text-decoration: none;
}

button:focus {outline:0;}



header{
    background-color: $IndianB;
    height: 4rem;
    display: flex;
    align-items: center ;
    justify-content: center;
    position: relative;
    img{
        height: 3rem;
    }
    /*a{
        width: min-content;
    }*/
    a:nth-child(2){
        margin: 0 1rem;
        h1{
            font-size: 3rem;
        }
    }
    a:nth-child(4){
        position: absolute;
        right: 0;
        margin-right: 6rem;
    }
    /*
    a{  
        margin-left: $spacex1;
        font-weight: bold;
        font-size: 1.5rem;
    }*/
}

nav{
    height: 3rem;
    display: flex;
    width: 100%;
    padding: 0 $spacex2;
    //justify-content: space-between;
    align-items: center;
    
    a:nth-child(-n+2){
       // background-color: red;
        width: min-content;
        margin-right: $spacex1;
    }
    
    /*a::after{
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: #000;
        transition: width .3s;
    }
    a:hover::after{
        width: 100%;      
    }
    
    a::before
    {
        display: block;
        content: attr(title);
        font-weight: 600;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }*/
    
    
    
}


footer{
    display: flex;
    width: 100%;
    padding: 5rem;
    //margin-top: 5rem;
    background-color: #34343c;
    flex-direction: row;

    .icons,.data span {
        margin-top: 2rem;
    }
    .social{
        display: flex;
        flex-direction: column;
        width: 40%;
        img{
            height: 2.5rem;
        }
        img:hover{
            opacity: 0;
        }
        .icons{
            display: flex;
        }
        .icon{
            position: relative;
        }
        .float{
            position: absolute;
        }
    }
    .data{
        
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    a{
        color: $IndianW ;
        font-weight: bold;
        margin-right: 2rem;
    }

    
    span{
        color: $IndianW ;
        font-weight: lighter;
        //margin: 0.3rem 0 ;
    }
    .tenue{
        color: rgba(248,230,208,0.5);
    }
}
//Specific tags


//Line Effect

a.line::after{
    //position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #000;
    transition: width .3s;
}
a.line:hover::after{
    width: 100%;
    max-width: 100%;      
}

a.line::before
{
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

//Button styles
.boton{
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    border-radius: 4.5rem;
    background-color: #EAD0B4;
    position: relative;
    margin: 0rem 1rem;
    cursor: pointer;
}
.boton:hover, .boton:active, .activebutton
{
    background-color: $Cinder;
    color: white;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 10px 80px rgba(0, 0, 0, 0.12) ;
    a{
        color: white;
    }
}





p.big{
    font-size: 2rem;
}

.w100
{
    width: 100%;
}

.w100-f
{
    display: flex;
    width: 100%;
}

.w80
{
    width: 80%;
}

.Xflexbetween{
    display: flex;
    justify-content: space-between;
}

.Xflexcenter{
    display: flex;
    justify-content: center;
}

.Xflexevenly{
    display: flex;
    justify-content: space-evenly;
}