{% from "Program/T_Slider.html" import TemplateSlider %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Program/p5imagefilter.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet"> 
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script> -->

    <title>Document</title>
</head>
<body>

    <div class="all">
        {% include 'navbar.html' %}
        <div class="application">

            <div class="display">
                
                <div class="volver">
                    <a class="boton" href="/app/sepia.html">
                        <img class="right" src="/static/Image/Home/arrowleft.svg" >
                        <span>Sepia</span> 
                     </a>
                     <a class="boton" href="/app/fractal.html">
                        <span>Triangulo de Sierpinski</span> 
                        <img class="left" src="/static/Image/Home/arrowright.svg" >  
                     </a>
                    
                </div>
                
                <h1>Galeria 3D</h1>

                <div class="ThreeContainer" id="ThreeContainer">

                </div>
            </div>
            
        </div>
        
    </div>
    {% include 'footer.html' %}
    
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/three.js/r122/three.min.js"> </script>
    <script src="{{ url_for('static',filename='js/general.js')}}"></script>
    <script src="{{ url_for('static',filename='js/Program/3dmodel_cube/GLTFLoader.js')}}"></script>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var isload=false;
            //Get 3d div container and their attributes
            var ThreeContainer = $("ThreeContainer");
            var Width3dView = ThreeContainer.offsetWidth;
            var Heigth3dView = ThreeContainer.offsetHeight;
            var Model;
            //Creating scene
            var scene = new THREE.Scene();
            scene.background = new THREE.Color(0x15151F);
            //add camera
            var camera = new THREE.PerspectiveCamera(75, Width3dView*1.0/Heigth3dView);

            var light = new THREE.HemisphereLight(0xffeeb1,0x080820,4);
            scene.add(light);
            //Renderer
            var renderer = new THREE.WebGLRenderer({antialias:true});
            renderer.setSize(Width3dView,Heigth3dView);
            ThreeContainer.appendChild(renderer.domElement);

            camera.position.z = 4;
            camera.position.y = 2;
            camera.lookAt(0,0,0);
            //Draw scene by each frame , is called before 3delement are load
           var animate =function()
            {
                requestAnimationFrame(animate);
                //camera.position.z += 0.1;
                //camera.rotation.y += 0.05;
                Model.rotation.y +=0.01;
                renderer.render(scene,camera);
            }

            //The Next works to load 3d model, their second argument is called
            //when model is charged, to final,it call to animate function.

            var loader = new THREE.GLTFLoader();
            loader.load('/static/3dmodel/wooden.glb',function(gltf){
                //Configure scene with new model
                    //Set reference to model 
                Model = gltf.scene;

                scene.add(gltf.scene);

                renderer.render(scene,camera);
                
                //Finished charge elements
                isload=true;

                //Begin Animation
                animate();
            });

            window.addEventListener('resize',()=>{
                if(isload)
                {
                    camera.aspect = ThreeContainer.offsetWidth/ThreeContainer.offsetHeight;
                    camera.updateProjectionMatrix();
                    renderer.setSize(ThreeContainer.offsetWidth, ThreeContainer.offsetHeight);
                }
            });
    

        });
        

    </script>
  
    
</body>
</html>