<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/program/p5imagefilter.css')}}">

    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/program/effectPy.css')}}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet"> 
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script> -->

    <title>Document</title>
</head>
<body>



    <div class="all">
        {% include 'navbar.html' %}
        <div class="application">
            
            <!-- Here shows the output of application -->
            <div class="display">
                <div class="volver">
                    <a class="boton" href="/app/Fractal3dDodecaedro.html">
                        <img class="right" src="/static/Image/Home/arrowleft.svg" >
                        <span>Dodecaedro 3d</span> 
                     </a>
                     <a class="boton" href="/app/escalagrises.html">
                        <span>Escala grises</span> 
                        <img class="left" src="/static/Image/Home/arrowright.svg" >  
                     </a>                    
                </div>
                <h1>Efecto Cartoon</h1>
                <div class="sectiondisplay" id="sectiondisplay">
                    <div class="boximage" id="BoxInputImg">
                        <span>Arrastra y suelta tu imagen </span>
                        <span>o</span>
                        <form action="/edgesnew" method="POST" id="form" enctype="multipart/form-data" style="display: flex;" >
                            <input name="picture" type="file" id="file" accept="image/*" >
                            <label for="file">Elige un archivo</label>
                            <input id="auxiliar"type="submit" style="display:none">
                        </form>
                    </div>
                    <div class="boximage" id="BoxOutputImg">
                        <span id="TextOutputImg">Imagen de salida </span>
                    </div>
                </div> 
                <div class="boxbuttons">
                    <button class="boton" onClick="window.location.reload(true)">  Nueva Imagen</button>
                    <button class="boton">Descargar</button>
                </div>
            </div>
            
        </div>
    </div>
    {% include 'footer.html' %}
    

    <script src="{{ url_for('static',filename='js/general.js')}}"></script>
    <script>
    $("form").addEventListener('submit', (e)=>{
        e.preventDefault();
        var formdata = new FormData($("form"))
        fetch('/edgesnew',{
            method: 'POST',
            body: formdata
        }).then(res =>res.blob())
        .then(data =>{
            console.log(data);
            NewImgStyle();
            RenderInput(formdata);

            let url = URL.createObjectURL(data);
            var imgnode = document.createElement("img");
            imgnode.src = url;
            $('BoxOutputImg').appendChild(imgnode); 
        })

        function RenderInput(formdata)
        {
            var file = formdata.get('picture');
            var url = URL.createObjectURL(file);

            var imgnode = document.createElement("img");
            imgnode.src = url;
            $('BoxInputImg').appendChild(imgnode);
        }


        function NewImgStyle()
        {
            //Get Box container of images 
            var BoxInputOff =$("BoxInputImg");
            var BoxOutputOff =$("BoxOutputImg");
            //Remove all children inside of box 
            BoxInputOff.textContent = '';
            BoxOutputOff.textContent = '';
            //Set new style when image is active 
            BoxInputOff.classList.add("activeimage");
            BoxOutputOff.classList.add("activeimage");
            
        }
        
    })    

    $("file").onchange = function() {
        $("auxiliar").click();
    };
    </script>
    
</body>
</html>