<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/program/p5imagefilter.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet"> 
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script> -->

    <title>Document</title>
</head>
<body>



    <div class="all">
        {% include 'navbar.html' %}
        <div class="application">
            
            <!-- Here shows the output of application -->
            <div class="display">
                <div class="sectiondisplay" id="sectiondisplay">
                    <div class="boximage" id="BoxInputImg">
                        <span>Arrastra y suelta tu imagen </span>
                        <span>o</span>
                        <form action="/edgesnew" method="POST" id="form" enctype="multipart/form-data"  >
                            <input name="picture" type="file" id="file" accept="image/*" >
                            <label for="file">Elige un archivo</label>
                            <input id="auxiliar"type="submit" value="dsfs">
                        </form>
                    </div>
                    <div class="boximage" id="BoxOutputImg">
                        <span id="TextOutputImg">Imagen de salida </span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    

    <script src="{{ url_for('static',filename='js/general.js')}}"></script>
    <script>
    $("form").addEventListener('submit', (e)=>{
        e.preventDefault();

        fetch('/edgesnew',{
            method: 'POST',
            body: new FormData($("form"))
        }).then(res =>res.json())
        .then(data =>{
            //console.log(data.locationOld);
            NewImgStyle(data.locationOld,data.locationNew);
        })

        function NewImgStyle(locationOld,locationNew)
        {
            //Get Box container of images 
            var BoxInputOff =$("BoxInputImg");
            var BoxOutputOff =$("BoxOutputImg");
            //Remove all children inside of box 
            BoxInputOff.textContent = '';
            BoxOutputOff.textContent = '';
            //Set new style when image is active 
            BoxInputOff.classList.add("activeimage");
            BoxOutputOff.classList.add("activeimage");

            //Set image preview into BoxInput
            var imgnode = document.createElement("img");
            imgnode.src = locationOld;

            //Set image preview into BoxInput
            var imgnode2 = document.createElement("img");
            imgnode2.src = locationNew;
            
            BoxInputOff.appendChild(imgnode);
            BoxOutputOff.appendChild(imgnode2);
            
        }

    })    

    $("file").onchange = function() {
        
        $("auxiliar").click();
    };


    
    </script>
    
</body>
</html>