{% from "Program/T_Slider.html" import TemplateSlider %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/program/p5imagefilter.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet"> 
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script> -->

    <title>Document</title>
</head>
<body>
    
    <div class="all">
        {% include 'navbar.html' %}
        <div class="application">
            <!-- Here goes the Buttons,sliders and input of program -->
            <div class="interactionmenu" id="interactionmenu">
                <span class="w80 opciones">Opciones</span>
                {{TemplateSlider('Peso Rojo',0,'100','0')}}
                {{TemplateSlider('Peso Verde','0',100,'0')}}
                {{TemplateSlider('Peso Azul','0',100,'0')}}
            </div>
            <!-- Here shows the output of application -->
            <div class="display">
                <div class="volver">
                    <a class="boton" href="/app/escalagrises.html">
                        <img class="right" src="/static/Image/Home/arrowleft.svg" >
                        <span>Escala de grises</span> 
                     </a>
                     <a class="boton" href="/app/3dmodel_cube.html">
                        <span>vista 3d</span> 
                        <img class="left" src="/static/Image/Home/arrowright.svg" >  
                     </a>
                    
                </div>
                <h1>Imagen a sepia</h1>
                <div class="sectiondisplay" id="sectiondisplay">
                    
                    <div class="boximage" id="BoxInputImg">
                        <span>Arrastra y suelta tu imagen </span>
                        <span>o</span>
                        <input type="file" id="file" accept="image/*" onchange="FileSelected (this)">
                        <label for="file">Elige un archivo</label>
                    </div>
                    <div class="boximage" id="BoxOutputImg">
                        <span id="TextOutputImg">Imagen de salida </span>
                    </div>
                </div> 
                <div class="boxbuttons">
                    <button class="boton" onClick="window.location.reload(true)">  Nueva Imagen</button>
                    <button class="boton">Descargar</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    var isImgActive= false; // if the user has selected image or not.
    var movingSlider = false; // if the user has drop any slider.
    var sliders = document.getElementsByName("T_Slider");// get all sliders

    // Add mouse up listener to all the sliders
    sliders.forEach(SliderMouseUp)

    function SliderMouseUp(Slider) {
        Slider.addEventListener('mouseup',()=>{
            if(isImgActive){
                movingSlider=true;
                //Activate p5 function to modify image
                myp5.sliderMove();
            }
                        
        })
    }

    </script>
    <script src="{{ url_for('static',filename='js/general.js')}}"></script>
    <script src="{{ url_for('static',filename='js/Program/sepia/imageloadanddrag.js')}}"></script>
    <script src="{{ url_for('static',filename='js/Program/sepia/p5.js')}}"></script>
    <script src="{{ url_for('static',filename='js/Program/sepia/sketch.js')}}"></script>
  
    
</body>
</html>