{% macro TemplateSlider(Title,MinValue=1,MaxValue=100,InitValue=None)  %}
    {% if InitValue==None%}
        {% set InitValue=MinValue|float+MaxValue|float %}
        {% set InitValue=InitValue*0.5 %}
    {% endif %}
    <div>
        <span name="TitleSlider">{{ Title }}</span>
        <input type="range" min="{{MinValue}}" max="{{MaxValue}}" value="{{InitValue}}"  name="T_Slider" class="slider" >
        <div class="Xflexbetween w100">
            <span name="InputValueSlider">{{MinValue}}</span>
            <span name="InputValueSlider">{{MaxValue}}</span>
        </div>
    </div>
{% endmacro %}