<footer>
    <div class="social">
        <span>Sigueme</span>
        <div class="icons">
            <div class="icon">
                <a class="float"href="\"><img src="\static\Image\Home\FaceOff.svg" alt=""></a>
                <a  href="\"><img src="\static\Image\Home\FaceOn.svg" alt=""></a>
            </div>
            <div class="icon">            
                <a class="float" href="\"><img src="\static\Image\Home\InstaOff.svg" alt=""></a>
                <a href="\"><img src="\static\Image\Home\InstaOn.svg" alt=""></a>
            </div>
        </div>  
    </div>
    <div class="data">
        <div class="links">
            <a href="">Contactame</a>
            <a href="">Sobre mi</a>
            <a href="">Terminos y condiciones</a>
        </div> 
        <span>Diseñada y desarrollada por Alejandro Aponte</span>
        <span class="tenue">© 2020 Name, Todos los derechos reservados</span>
    </div>
    
</footer>