{% from "cardprogram.html" import card %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=i">  
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Home/styles.css')}} ">    
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet"> 
       <title>Document</title>

</head>
<body>

    {% include 'navbar.html' %}
    <div class="welcome">
        <div class="blockscience">
            <h1>Ciencia</h1>
            <h2>Ciencia al servicio del arte</h2>
        </div>
        <div class="blockart">
            <h1>Arte</h1>
            <h2>Arte al servicio de la ciencia</h2>
        </div>
    </div>

    <div class="contenido">
        <p class="big">¿Por donde empiezo?</p>
        <p>Busca temas que te interesen a continuación</p>
        <div class="boxbuttons">
            <button class="boton activebutton" id ="FilterNone"> <span>Todos</span>    </button>
            <button class="boton" id="FilterProgramacion" > <span>Programacion</span></button>
            <button class="boton" id="FilterArte"> <span>Arte</span></button>
        </div>  
    </div>

    <div class="porfolio" >
        {{card('Blanco y negro','Convierte imagenes a color a blanco y negro','Arte','ic1.svg','escalagrises.html')}}
        {{card('Sepia','Convierte dinamicamente tus imagenes a sepia','Arte','ic2.svg','sepia.html')}}
        {{card('Vista 3d','Disfruta de modelos 3d','Arte','ic3.png','3dmodel_cube.html')}}
        {{card('Galeria','Disfruta una galeria de imagenes hechas con diferentes tecnicas','Arte','ic4.svg','imagenyvideo.html')}}
        {{card('Triangulo de Sierpinsky','Crea tu propio triangulo de Sierpinsky','Programacion','ic5.svg','fractal.html')}}
        {{card('Hexagono de Sierpinsky','Crea tu propio hexagono de Sierpinsky','Programacion','ic6.svg','FractalHexagono.html')}}
        {{card('Dodecaedro de Sierpinsky','Crea tu propio Dodecaedro de Sierpinsky','Programacion','ic7.svg','Fractal3dDodecaedro.html')}}
        {{card('Efecto Cartoon','Convierte una imagen a cartoon','Arte','ic9.svg','PyEdges.html')}}
    </div>

    {% include 'footer.html' %}

    <script src ="/static/js/Home/button.js"></script>
    
    
</body>
</html>